# BQ268-specific overrides
# Imported from ramdisk init.rc

# Load our rebuilt wlan module before wifi HAL starts
on boot
    insmod /lib/modules/pronto_wlan.ko

on property:sys.boot_completed=1
    stop vm_bms
    stop qcamerasvr
